/* root style  */
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* style btn go to top */
#scroll-bar {
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    padding: 6px;
    z-index: 99;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ffffff;
}