* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* style btn go to top */
#scroll-bar {
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    padding: 6px;
    z-index: 99;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ffffff;
}

/* Style the visit button */
.button {
    position: absolute;
    /* left: 5px; */
    /* bottom: -20px; */
    padding: 8px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Show the visit button on hover */
.card:hover .button {
    opacity: 1;
}

/* style card business in page business services*/
.card-business:hover {
    /* box-sizing: border-box; */
    background-color: rgba(238, 228, 211, 0.08);
    border-radius: 5px;
}

/* style hover on card business transparent in page business services*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    /* background-color: #ff0000; */
    /* color: black; */
}

.flip-card-back {
    /* background-color: #2980b9; */
    /* color:#000000; */
    transform: rotateY(180deg);
}

/* style css for card slider */
.flip-card-slider {
    /* background-color: transparent; */
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner-slider {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}

.flip-card-slider:hover .flip-card-inner-slider {
    transform: rotateY(180deg);
}

.flip-card-front-slider,
.flip-card-back-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back-slider {
    /* background-color: #2980b9; */
    position: absolute;
    top: 125px;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}


swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
}

swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

swiper-slide img {
    position: absolute;
    top: 50px;
    display: block;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    swiper-slide:first-child {
        transition: transform 100ms;
    }



    swiper-slide.swiper-slide-active:first-child {
        transform: translateX(50%);
        z-index: 2;
    }



    swiper-slide:nth-child(2) {
        transition: transform 100ms;
    }

    swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(55%);
        z-index: 1;
    }

    swiper-container[dir="rtl"] swiper-slide.swiper-slide-active:first-child {
        transform: translateX(-50%);
    }

    swiper-container[dir="rtl"] swiper-slide.swiper-slide-next:nth-child(2) {
        transform: translateX(-55%);
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-layout {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .background-image {
        background-position: 50%;
        background-image: url('./images/cih.ltd-header.png');
        height: 2000px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container-layout {
        margin-left: 4%;
        margin-right: 4%;
    }

    .background-image {
        background-position: 50%;
        background-image: url('./images/cih.ltd-header.png');
        height: 1700px;
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-layout {
        margin-left: 5%;
        margin-right: 5%;
    }

    .background-image {
        background-position: 50%;
        background-image: url('./images/cih.ltd-header.png');
        height: 1500px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-layout {
        margin-left: 5%;
        margin-right: 5%;
    }

    .background-image {
        background-position: 50%;
        background-image: url('./images/cih.ltd-header.png');
        height: 1400px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container-layout {
        margin-left: 5%;
        margin-right: 5%;
    }

    .background-image {
        background-position: 50%;
        background-image: url('./images/cih.ltd-header.png');
        height: 1400px;
    }
}